{% extends 'base.html.twig' %}

{% block title %}Список постов{% endblock %}

{% block body %}

    <style>
        .posts .item {
            margin: 15px 0 0 25%;
            background-color: #c0c6ff;
            padding: 20px;
            width: 50%;
        }
        .search{
            float:right;
        }
    </style>
    <div class="search">
        <form action="" method="post">
            <input type="text" name="search" value="{{ app.request.get('search')}}">
            <input type="submit" value="Поиск">
        </form>
    </div>
<div class="posts">
    {% for post in posts %}
    <div class="item">
        {{ post.content | raw }}
        <div class="image">
            <img src="{{ post.image }}" width="606">
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
